.contents {
  position: relative;
  top: -120px;
}

.card_container1 {
  width: 100%;
  height: 280px;
  position: absolute;
  z-index: 3;
  left: 40px;
}

.card_container2 {
  width: 100%;
  height: 280px;
  position: absolute;
  top: 28vw;
  z-index: 3;
  left: 40px;
}

.card_title {
  padding-bottom: 20px;
  font-size: 1.7vw;
  width: 100%;
  font-weight: 500;
}

.card_image {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-right: 40px;
}

.card_image > img {
  width: 30vw;
}

.card_image > img + img {
  margin-left: 10px;
}
