* {
  box-sizing: border-box;
  margin: 0;
}

/* div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */

p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, Arial,
    sans-serif;
  margin: 0;
  padding-top: 68px;
  background-color: black;
  color: white;
}

.mainView {
  display: block;
  height: 1700px;
}
