.contents {
  position: relative;
  top: -140px;
  min-height: 100%;
}

.card_container1 {
  width: 100%;
  padding: 0px 5.5vw;
  margin-bottom: 50px;
}

.card_container2 {
  width: 100%;
  padding: 0px 5.5vw;
  margin-bottom: 50px;
}

.card_container3 {
  width: 100%;
  padding: 0px 5.5vw;
  margin-bottom: 50px;
}

.card_container4 {
  width: 100%;
  padding: 0px 5.5vw;
  margin-bottom: 50px;
}

.card_title {
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-size: 1.7vw;
  font-weight: 500;
  width: 100%;
}

.card_image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card_image > img {
  width: 28vw;
  border-radius: 3px;
  transition: all 1s ease 0.1s;
  cursor: pointer;
}

.card_image > img:hover {
  transform: scale(1.2, 1.2);
}

.footer_container {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 0 5.5vw;
}

.footer {
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px auto 10px 0;
}

footer > div {
  font-size: 1.3vw;
  color: gray;
  margin-bottom: 15px;
  font-weight: 300;
}

.footer_content {
  color: #808080;
  font-size: 1vw;
  font-weight: 300;
  line-height: 1.7;
  padding-bottom: 30px;
}
